<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/yuanlingqi/CJPDrawingBoard/blob/master/data.ipa?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://bi.chint.com:8443/ChintData/static/img/install/log.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://bi.chint.com:8443/ChintData/static/img/install/fullsizeLog.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chint.largeData</string>
				<key>bundle-version</key>
				<string>2.3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>数字正泰</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
